<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    <div class = "container">
        <h1>League Entered</h1>
        <p>
            League Name : {{result.lName}}<br>
            Commissioner Name : {{result.cName}}<br>
            Commissioner SSN : {{result.SSN}}<br>
            Teams : {{result.Teams}}
        </p>
    </div>
    
  </body>
  </html>