<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
        <h1>This is the Home for the franchise page.</h1>
        <p>In here you will find stuff related to the Franchise</p>
    </div>

    {% include '../common/bootstrap_js.html' %}
  </body>
</html>