<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <!-- Everything you need to write goes here! -->
    <div class="container">
      <br>
      <h1>Entered Game Results</h1>
      Team 1 : {{team1}}<br>
      Team 1 Score : {{team1Score}}<br>
      <br>
      Team 2 : {{team2}}<br>
      Team 2 Score : {{team2Score}}
    </div>
    {% include '../common/bootstrap_js.html' %}
  </body>
</html>