<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
      <h1>Create a Season</h1>
      <form>
        <label for="lName">League Name</label>
        <input type="text" id="lName" name="lName">
        <br>
        <label for="sDate">Start Date</label>
        <input type="date" id="sDate" name="sDate">
        <br>
        <label for="eDate">End Date</label>
        <input type="date" id="eDate" name="eDate">
        <br>
        <label for="gameSchedule">Game Scheduling Option:</label>
        <select id="gameSchedule" name="gameSchedule" onclick="changePage()">
          <option value="1">1 - Automatic Scheduling</option>
          <option value="2">2 - Manual Scheduling</option>
          <option value="3">3 - Don't Insert Games</option>
        </select>
        <br>
        <p id="test">asdfasdfa</p>
        <label for="gNumber">Number of Games</label>
        <input type="number" id="gNumber" name="gNumber" min="0">
        <br>
        <script>
          function changePage(){
            $(document).getElementById("test").innerHTML = "pefa";
          };
        </script>
        <button type="submit" class="btn btn-primary">Create Season</button>
      </form>
    </div>
    {% include '../common/bootstrap_js.html' %}
  </body>
</html>