<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
      <h1>Create a Season</h1>
      <form action='/seasonCreated' method='get' id="newSeason">
        <label for="lName">League Name</label>
        <input type="text" id="lName" name="lName" oninput="checkForm()">
        <br>
        <label for="sDate">Start Date</label>
        <input type="date" id="sDate" name="sDate" oninput="checkForm()">
        <br>
        <label for="eDate">End Date</label>
        <input type="date" id="eDate" name="eDate" oninput="checkForm()">
        <br>
        <label for="gameSchedule">Game Scheduling Option:</label>
        <select id="gameSchedule" name="gameSchedule">
          <option value="1">Automatic Scheduling</option>
          <option value="3">Don't Insert Games</option>
        </select>
        <br>
        <label for="gNumber">Number of Games</label>
        <input type="number" id="gNumber" name="gNumber" min="0" oninput="checkForm()">
        <br>
        <label for="maxGames">Max Games per Day</label>
        <input type="number" id="maxGames" name="maxGames" oninput="checkForm()">
        <br>
        <h3>Game Rules</h3>
        <label for="wins">Wins</label>
        <input type="number" id="wins" name="wins" min="0" oninput="checkForm()">
        <label for="loss">Losses</label>
        <input type="number" id="loss" name="loss" min="0" oninput="checkForm()">
        <label for="wins">draw</label>
        <input type="number" id="draw" name="draw" min="0" oninput="checkForm()">
        <br>
        <button type="submit" class="btn btn-primary" id="autoSubmit" disabled>Create Season</button>
        <br>
        <br>
        <h1>Or Manually Insert Games</h1>
        <button type="submit" class="btn btn-primary" id="manualSubmit" formaction="/manual_insert_teams" disabled>Schedule Teams</button>
        <input type="text" name="comingFrom" value="season" style="opacity: 0">
      </form>
    </div>

    <script>
      function checkForm(){
        canSubmit = true;
        items = [];
        lName = document.forms["newSeason"]["lName"].value;
        startDate = document.forms["newSeason"]["sDate"].value;
        endDate = document.forms["newSeason"]["eDate"].value;
        gSchedule = document.forms["newSeason"]["gameSchedule"].value;
        gNumber = document.forms["newSeason"]["gNumber"].value;
        maxGames = document.forms["newSeason"]["maxGames"].value;
        wins = document.forms["newSeason"]["wins"].value;
        losses = document.forms["newSeason"]["loss"].value;
        draws = document.forms["newSeason"]["draw"].value;
        items.push(lName,startDate,endDate,gSchedule,gNumber,maxGames,wins,losses,draws);
        for(i=0; i < items.length; i++){
          if (items[i].length == 0){
            canSubmit = false;
          }
        }
        document.getElementById("autoSubmit").disabled = !canSubmit;
        document.getElementById("manualSubmit").disabled = !canSubmit;
      }
    </script>

    {% include '../common/bootstrap_js.html' %}
  </body>
</html>