<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
      <h1>Create a Season</h1>
      <p>
        {{result}}
      </p>

    {% include '../common/bootstrap_js.html' %}
  </body>
</html>