<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include './common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include './common/navbar.html' %}
    <div class="container">
        <h1>Insert Games</h1>
        <form action='/game_result' method='get' id="insertGames">
            <label for="lName">League Name</label>
            <input type="text" name="lName" id="lName" oninput="checkForm()">

            <label for="sDate">Start Date</label>
            <input type="date" name="sDate" id="sDate" oninput="checkForm()">

            <label for="eDate">End Date</label>
            <input type="date" name="eDate" id="eDate" oninput="checkForm()">

            <label for="numgames">Number of Games</label>
            <input type="number" name="numgames" id="numgames" oninput="checkForm()">
            <br>
            <label for="maxGames">Max # of Games</label>
            <input type="number" name="maxGames" id="maxGames" oninput="checkForm()">

            <label for="autoInsert">Auto Insert?</label>
            <select name="autoInsert" id="autoInsert" oninput="checkForm()">
              <option value="-1" Default>-</option>
              <option value="0">No</option>
              <option value="1">Yes</option>
            </select>

            
            <br>
            <button type="submit" class="btn btn-primary" id="autoSubmit" disabled>Auto Insert Games</button>
            <button type="submit" class="btn btn-primary" id="manualSubmit" formaction="/manual_insert_teams" disabled>Manual Insert Games</button>
            <input type="hidden" name="comingFrom" value="insert_games" style="opacity: 0">
        </form>
    </div>
    <script>
        function checkForm(){
          canSubmit = true;
          items = [];
          lName = document.forms["insertGames"]["lName"].value;
          startDate = document.forms["insertGames"]["sDate"].value;
          endDate = document.forms["insertGames"]["eDate"].value;
          autoInsert = document.forms["insertGames"]["autoInsert"].value;
          maxGames = document.forms["insertGames"]["maxGames"].value;
          
          items.push(lName, startDate,endDate,autoInsert,maxGames);
          for(i=0; i < items.length; i++){
            if (items[i].length == 0 || autoInsert == -1){
              canSubmit = false;
            }
          }
          console.log(canSubmit);

          if(autoInsert == 0 && canSubmit){
            document.getElementById("autoSubmit").disabled = true;
            document.getElementById("manualSubmit").disabled = false;
          }
          if(autoInsert == 1 && canSubmit){
            document.getElementById("autoSubmit").disabled = false;
            document.getElementById("manualSubmit").disabled = true;
          }
          if(autoInsert == -1){
            document.getElementById("autoSubmit").disabled = true;
            document.getElementById("manualSubmit").disabled = true;
          }
        }
    </script>
    {% include './common/bootstrap_js.html' %}
  </body>
</html>