<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include './common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include './common/navbar.html' %}
    <div class="container">
        <h1 onclick="test()">Manual Teams</h1>
        <p>Set the date and field for each game about to happen</p><br>
        {{result.lName}}
        <form id="testForm">
          {% for i in pairs %}
            {{i}}
            <label for="gameDate{{forloop.counter}}">Date</label>
            <input type="date" name="gameDate{{forloop.counter}}" id="gameDate{{forloop.counter}}" oninput="test()">
            <label for="fieldName">Field</label>
            <input type="text" name="fieldName{{forloop.counter}}" id="fieldName{{forloop.counter}}" oninput="test()">
            <br>
          {% endfor %}
            <button id="manualTeamSubmit" class="btn btn-primary" disabled>Enter Teams</button>
        </form>
        <p id="teamNumber" style="color: white;">{{length}}</p><!--A Cheat way to store the length of the array lmao-->
        <p id="teamNumber" style="color: white;" name="lName">{{lName}}</p>
        <p id="teamNumber" style="color: white;" name="cName">{{cName}}</p>
        <p id="teamNumber" style="color: white;" name="cSSN">{{cSSN}}</p>
        <p id="teamNumber" style="color: white;" name="teams">{{teams}}</p>
        <p id="teamNumber" style="color: white;" name="startDate">{{startDate}}</p>
        <p id="teamNumber" style="color: white;" name="endDate">{{endDate}}</p>
        <p id="teamNumber" style="color: white;" name="gSchedule">{{gSchedule}}</p>
        <p id="teamNumber" style="color: white;" name="win">{{win}}</p> 
        <p id="teamNumber" style="color: white;" name="loss">{{loss}}</p> 
        <p id="teamNumber" style="color: white;" name="draw">{{draw}}</p> 
      
    </div>
    <script>
      function test(){
        teams = document.getElementById("teamNumber").innerHTML;
        form = document.getElementById("testForm");
        items = [];
        canSubmit = true;

        // Code taken from 'https://bobbyhadz.com/blog/javascript-get-all-elements-in-form'
        // I did NOT write this myself
        Array.from(form.elements).forEach(element => {
          items.push(element.value);
        });
        
        for(i = 0; i < items.length-1; i++){
          if (items[i].length == 0){
            canSubmit = false;
          }
        }
        console.log(canSubmit);
        console.log(items);
        document.getElementById("manualTeamSubmit").disabled = !canSubmit;

      }
    </script>
    {% include './common/bootstrap_js.html' %}
  </body>
</html>