<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include './common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include './common/navbar.html' %}
    <div class="container">
        {# if coming from league #}
          <h1>Coming from League</h1>
          <label for="lName" class="form-label">Enter League Name</label>
          <input type="text" id = "lName" name="lName" value="{{length}}" disabled>
          <br>
          <label for="cName">Enter Commissioner</label>
          <input type="text" id="cName" name="cName" value="{{length}}" disabled>
          <br>
          <label for="SSN">Enter Commissioner's SSN</label>
          <input type="text" id="SSN" name="SSN" value="{{length}}"  disabled>
          <br>
          <label for="Teams">Enter Teams (separate with commas)</label>
          <input type="text" id="Teams" name="Teams" value="{{length}}"  disabled>
          <br>
          <h4>Tip: Creating a League creates its first season</h4>
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" name="startDate" value="{{length}}"  disabled>
          <br>
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" name="endDate" value="{{length}}}" disabled>
          <br>
          <label for="maxGames">Max Games per Day</label>
          <input type="number" id="maxGames" name="maxGames"  value="{{length}}"  min="0" disabled>
          <br>
          <label for="gNumber">Number of Games</label>
          <input type="number" id="gNumber" name="gNumber" min="0"  value="{{length}}"  disabled>
          <br>
          <h3>Game Rules</h3>
          <label for="wins">Wins</label>
          <input type="number" id="wins" name="wins" min="0" value="{{length}}"  disabled>
          <label for="loss">Losses</label>
          <input type="number" id="loss" name="loss" min="0" value="{{length}}"  disabled>
          <label for="wins">draw</label>
          <input type="number" id="draw" name="draw" min="0" value="{{length}}"  disabled>
        {# if coming from season #}
          <h1>Coming from Season</h1>
          <form id="newSeason">
            <label for="lName">League Name</label>
            <input type="text" id="lName" name="lName"  value="{{length}}" disabled>
            <br>
            <label for="sDate">Start Date</label>
            <input type="date" id="sDate" name="sDate"  value="{{length}}" disabled>
            <br>
            <label for="eDate">End Date</label>
            <input type="date" id="eDate" name="eDate"  value="{{length}}" disabled>
            <br>
            <label for="gameSchedule">Game Scheduling Option:</label>
            <select id="gameSchedule" name="gameSchedule">
              <option value="1">Automatic Scheduling</option>
              <option value="3">Don't Insert Games</option>
            </select>
            <br>
            <label for="gNumber">Number of Games</label>
            <input type="number" id="gNumber" name="gNumber" min="0"  value="{{length}}" disabled>
            <br>
            <label for="maxGames">Max Games per Day</label>
            <input type="number" id="maxGames" name="maxGames"  value="{{length}}" disabled>
            <br>
            <h3>Game Rules</h3>
            <label for="wins">Wins</label>
            <input type="number" id="wins" name="wins" min="0"  value="{{length}}" disabled>
            <label for="loss">Losses</label>
            <input type="number" id="loss" name="loss" min="0"  value="{{length}}" disabled>
            <label for="wins">draw</label>
            <input type="number" id="draw" name="draw" min="0"  value="{{length}}" disabled>
            <br>
          {# if coming from games #}
            <h1>Coming From Insert Games</h1>
            <form action="" id="insertGames">
                <label for="lName">League Name</label>
                <input type="text" name="lName" id="lName"  value="{{length}}" disabled>
    
                <label for="sDate">Start Date</label>
                <input type="date" name="sDate" id="sDate"  value="{{length}}" disabled>
    
                <label for="eDate">End Date</label>
                <input type="date" name="eDate" id="eDate"  value="{{length}}" disabled>
    
                <label for="autoInsert">Auto Insert?</label>
                <select name="autoInsert" id="autoInsert"  value="{{length}}" disabled>
                  <option value="-1" Default>-</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
    
                <label for="maxGames">Max # of Games</label>
                <input type="number" name="maxGames" id="maxGames"  value="{{length}}" disabled>
                <br>

                <h1>Scroll down for the manual insert teams</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
          


        <h1 onclick="test()">Manual Teams</h1>
        <p>Set the date and field for each game about to happen</p><br>
        {{result}}
        <form action='/mit_2' method='get' id="testForm">
          {% for i in pairs %}
            {{i}}
            <label for="gameDate{{forloop.counter}}">Date</label>
            <input type="date" name="gameDate{{forloop.counter}}" id="gameDate{{forloop.counter}}" oninput="test()">
            <label for="fieldName">Field</label>
            <input type="text" name="fieldName{{forloop.counter}}" id="fieldName{{forloop.counter}}" oninput="test()">
            <br>
          {% endfor %}
            <button id="manualTeamSubmit" class="btn btn-primary" disabled>Enter Teams</button>
        </form> 
    </div>
    <script>
      function test(){
        teams = document.getElementById("teamNumber").innerHTML;
        form = document.getElementById("testForm");
        items = [];
        canSubmit = true;

        // Code taken from 'https://bobbyhadz.com/blog/javascript-get-all-elements-in-form'
        // I did NOT write this myself
        Array.from(form.elements).forEach(element => {
          items.push(element.value);
        });
        
        for(i = 0; i < items.length-1; i++){
          if (items[i].length == 0){
            canSubmit = false;
          }
        }
        console.log(canSubmit);
        console.log(items);
        document.getElementById("manualTeamSubmit").disabled = !canSubmit;

      }
    </script>
    {% include './common/bootstrap_js.html' %}
  </body>
</html>