<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include './common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include './common/navbar.html' %}
    <div class="container">
      <form action='/manual_result' method='get' id="manualTeams">
        <input type="hidden" id="comingFrom" name="comingFrom" value="{{comingFrom}}" > <!--get comingFrom here -->
        <input type="hidden" id="length" name="length" value="{{length}}" >
        <input type="hidden" id="pairs" name="pairs" value="{{pairs}}" >
      {% if comingFrom == 'league' %}
        <input type="hidden" id = "lName" name="lName" value="{{lname}}" >

        <input type="hidden" id="cName" name="cName" value="{{cname}}" >

        <input type="hidden" id="SSN" name="SSN" value="{{ssn}}"  >

        <input type="hidden" id="Teams" name="Teams" value="{{teams}}"  >

        <input type="hidden" id="startDate" name="startDate" value="{{sdate}}"  >

        <input type="hidden" id="endDate" name="endDate" value="{{edate}}" >

        <input type="hidden" id="maxGames" name="maxGames"  value="{{maxi}}"  min="0" >

        <input type="hidden" id="gNumber" name="gNumber" min="0"  value="{{gnum}}"  >

        <input type="hidden" id="wins" name="wins" min="0" value="{{win}}"  >

        <input type="hidden" id="loss" name="loss" min="0" value="{{loss}}"  >

        <input type="hidden" id="draw" name="draw" min="0" value="{{draw}}"  >
      {% endif %}
      {%if comingFrom == 'season'%}
        <input type="hidden" id="lName" name="lName"  value="{{lname}}" >

        <input type="hidden" id="sDate" name="sDate"  value="{{sdate}}" >

        <input type="hidden" id="eDate" name="eDate"  value="{{edate}}" >

        <input type="hidden" id="gNumber" name="gNumber" min="0"  value="{{gnum}}" >

        <input type="hidden" id="maxGames" name="maxGames"  value="{{maxi}}" >

        <input type="hidden" id="wins" name="wins" min="0"  value="{{win}}" >

        <input type="hidden" id="loss" name="loss" min="0"  value="{{loss}}" >

        <input type="hidden" id="draw" name="draw" min="0"  value="{{draw}}" >

      {%endif%}
      {%if comingFrom == 'insert_games'%}

        <input type="hidden" name="lName" id="lName"  value="{{lname}}" >

        <input type="hidden" name="sDate" id="sDate"  value="{{sdate}}" >

        <input type="hidden" name="eDate" id="eDate"  value="{{edate}}" >


        <input type="hidden" name="numgames" id="numgames" value="{{gnum}}" >

        <input type="hidden" name="maxGames" id="maxGames"  value="{{maxi}}" >
      {%endif%}

        <h1 onclick="test()">Manual Teams</h1>
        <p>Set the date and field for each game about to happen</p><br>
        {{result}}

        
        <!-- <form action='/mit_2' method='get' id="testForm"> -->
          {% for i in pairs %}
            {{i}}
            <label for="gameDate{{forloop.counter}}">Date</label>
            <input type="date" name="gameDate{{forloop.counter}}" id="gameDate{{forloop.counter}}" oninput="test()">
            <label for="fieldName">Field</label>
            <input type="text" name="fieldName{{forloop.counter}}" id="fieldName{{forloop.counter}}" oninput="test()">
            <br>
          {% endfor %}
          <button id="manualTeamSubmit" class="btn btn-primary" >Enter Teams</button>
      </form> 
    </div>
    <script>
      function test(){
        form = document.getElementById("manualTeams");
        items = [];
        canSubmit = true;

        // Code taken from 'https://bobbyhadz.com/blog/javascript-get-all-elements-in-form'
        // I did NOT write this myself
        Array.from(form.elements).forEach(element => {
          items.push(element.value);
        });
        
        for(i = 0; i < items.length-1; i++){
          if (items[i].length == 0){
            canSubmit = false;
          }
        }
        console.log(canSubmit);
        console.log(items);
        document.getElementById("manualTeamSubmit").disabled = !canSubmit;

      }
    </script>
    {% include './common/bootstrap_js.html' %}
  </body>
</html>