<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include './common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include './common/navbar.html' %}
    <div class="container">
      <h1>Change Leagues</h1>
      <p>Does your team dislike the League owner's bureaucratic policies?</p>
      <p>Do you hear the calling of the Football Pitch despite being an F1 Driver?</p>
      <p>Have No Fear, League Changer is Here!</p>
      <form action='/move_teams_2' method='get' id='changeLeague'>
        <label for="team">Select Team</label>
        <input type="text" name="team" id="team" oninput="checkForm()">
        <br>
        <label for="currentLeague">Current League</label>
        <input type="text" name="currentLeague" id="currentLeague" oninput="checkForm()">
        <br>
        <label for="newLeague">New Home League</label>
        <input type="text" name="newLeague" id="newLeague" oninput="checkForm()">
        <br>
        <label for="date">Date</label>
        <input type="date" name="date" id="date" oninput="checkForm()"> <!--Use min="" to set a minimum date-->
        <br>
        <button type="submit" class="btn btn-primary" id="submitChange" disabled>Change League</button>
      </form>
      <script>
        function checkForm(){
          canSubmit = true;
          items = [];
          team = document.forms["changeLeague"]["team"].value;
          currentLeague = document.forms["changeLeague"]["currentLeague"].value;
          newLeague = document.forms["changeLeague"]["newLeague"].value;
          date = document.forms["changeLeague"]["date"].value;
          items.push(team, currentLeague,newLeague,date);
          for(i=0; i < items.length; i++){
            if (items[i].length == 0){
              canSubmit = false;
            }
          }
          document.getElementById("submitChange").disabled = !canSubmit;
        }
      </script>
    </div>
    {% include './common/bootstrap_js.html' %}
  </body>
</html>