<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
        <h1>Current Date</h1>
        <u><p>{{date}}</p></u>
        <h1>Change the Date:</h1>
        <form action='/date2' method='get'>
          <label for="dateChange">Change Current Date</label>
          <input type="date" id="dateChange" name="newdate">
          <br>
          <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
    {% include '../common/bootstrap_js.html' %}
  </body>
</html>