<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Franchise of Extraordinary Gentlemen</title>
    {% include '../common/bootstrap_cdn.html' %}
  </head>
  <body>
    {% include '../common/navbar.html' %}
    <div class="container">
        <h1>Game Query</h1>
        <form action='/gq_result' method='get'>
            <label for="team1">Team 1</label>
            <input type="text" id="team1" name="team1">
            <label for="team2">Team 2</label>
            <input type="text" id="team2" name="team2">
            <button type="submit" class="btn btn-primary">Find</button>
        </form>
    </div>
    {% include '../common/bootstrap_js.html' %}
  </body>
</html>